<div class="card bg-light">
  <div class="card-header">{{titulo}}: {{factura.descripcion}}</div>
  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clientes']" class="btn btn-light btn-xs">&laquo; Volver</a>
    </h4>

  <form>
    <div class="form-group" *ngIf="factura.cliente">
      <label for="Cliente">Cliente</label>
      <input type="text" name= "descripcion" class="form-control" value="{{factura.cliente.nombre}} {{factura.cliente.apellido}}" disabled >
    </div>
    <div class="form-group">
      <label for="">Descripcion</label>
      <input type="text" name= "descripcion" class="form-control" id="" placeholder="" [(ngModel)]="factura.descripcion">
    </div>
    <div class="form-group">
      <label for="Observacion">Observaciones</label>
      <textarea name= "observacion" class="form-control" id="" placeholder="" [(ngModel)]="factura.observacion"></textarea>
    </div>
    <div class="form-group">
    <mat-form-field>
    <input type="text" placeholder="Añadir producto" matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith] = "mostrarNombre" (optionSelected) = "seleccionarProducto($event)">
      <mat-option *ngFor="let producto of productosFiltrados | async" [value]="producto">
        {{producto.nombre}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  </div>

    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of factura.items">
          <td>{{item.producto.nombre}}</td>
          <td>{{item.producto.precio}}</td>
          <td>{{item.cantidad}}</td>
          <td>{{item.calcularImporte()}}</td>
        </tr>
      </tbody>
    </table>

    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Crear Factura">
    </div>
  </form>
  </div>
</div>
