<div class="row animated fadeIn fast">
  <div class="col-md-12 text-center">
    <i class="fas fa-copy fa-5x"></i>
  </div>
  <div class="col-md-12">
    <h1 class="display-4 text-center">Facturacion</h1>
    <div class="row text-center">
      <div class="col-md-6">
        <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="" class="img-fluid" style="width:300px">
      </div>
      <div class="col-md-6">
        <img src="https://picodotdev.github.io/blog-bitix/assets/images/logotipos/spring.svg" alt="" class="img-fluid" style="width:250px">
      </div>
    </div>
    <p class="lead">Este es un pequeño aplicativo de facturacion desarrollado con angular (Frontend) y spring boot Rest (backend) desplegado con heroku, para acceder utilizar los usuarios(<strong>diego - hangar18</strong> y <strong>admin - admin</strong>)</p>
  </div>
</div>
